# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org/           #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sets tags "ESX Legacy, DANSK, legacy, esx, DanishRP, DK, ESX, Danish"
exec inventory.cfg
## You MAY edit the following:
sv_licenseKey "cfxk_1SC2QpP0CwFIKDEfwAqCo_1ZML41" # sæt din license key her
sv_hostname "[DK] ^1DanishRP ^3[Allowlisted]" # Server navn
sets locale "da-DK"
sets sv_projectName "DanishRP Allowlisted" # Server navn til serverlisten
sets sv_projectDesc "Dansk fivem community, baseret på ESX frameworked" # Server beskrivelse
set mysql_connection_string "server=localhost;uid=root;database=esxlegacy_3ae67b"
load_server_icon logo.png
set rcon_password "" # RCON_password
set steam_webApiKey "A99D999057E3E3D85DD2B4DC7B8A2F7A" # Sæt din steam api key her!
#sv_master ""
sets banner_detail ""
set sv_enforceGameBuild 2699
sv_maxclients 5
sets banner_detail "https://media.discordapp.net/attachments/1066447772103999589/1067502435179974666/image_1.png?width=1440&height=81" #Her kan du ændre dit banner
load_server_icon myLogo.png #her er dit logo

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:3419649 group.admin
add_principal identifier.steam:1100001487d1149 group.admin

## pma-voice config
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

## Default & Standalone resourcess
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl
#ensure esx_adminchat
ensure chat-theme-gtao
#ensure loadingscreen # enables the defualt Plume Loadingscreen

## ESX Legacy
ensure es_extended
ensure ox_lib
ensure [QSphone]
ensure [esx]

## ESX Addons
ensure [standalone]
ensure qtarget
ensure DRP_map
ensure gabz_mrpd
ensure [esx_addons]
ensure [DanishRP]
ensure RECREATE_CUSTOM_CLOTHES20602
ensure [housing]
ensure [misc]
ensure [maps]
ensure pma-voice
ensure esx_service
ensure esx_policejob
ensure vSync

stop esx_policejob
start esx_policejob
stop fivem-appearance
start fivem-appearance
ensure omik_polititablet
ensure omik_callist

ensure ox_inventory
setr game_enableFlyThroughWindscreen true